.chaqz-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.chaqz-wrapper .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 80%;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
}

.chaqz-wrapper .content.small {
    width: 550px;
}

.chaqz-wrapper .content .cha-box {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 30px;
}

.chaqz-wrapper .content .table-box {
    margin: 0 15px;
}

.chaqz-wrapper .content .head {
    line-height: 30px;
    margin: 40px 15px 12px 15px;
}

.chaqz-wrapper .content .head .btns {
    float: right;
}

.chaqz-wrapper .content .head .title {
    display: inline-block;
    line-height: 18px;
    border-left: 3px solid #4B92EC;
    font-size: 16px;
    color: #222;
    padding-left: 10px;
}

.chaqz-wrapper .content .head .title .time {
    font-size: 12px;
    color: #888888;
    margin-left: 15px;
}

.chaqz-wrapper .content .head img {
    width: 40px;
    margin-right: 10px;
}

.chaqz-wrapper .content .trend-table {
    margin-top: 50px;
}

.chaqz-wrapper .content .trend-table td:first-child {
    text-align: center;
    padding: 0;
}
.chaqz-wrapper div.dt-buttons {
    float: right;
    margin-top: -44px;

}

.chaqz-wrapper div.dt-buttons button {
    margin-left: 15px;
    color: #fff;
}

.chaqz-wrapper .content .head .btns {
    float: right;
    margin-left: 15px;

}

.chaqz-wrapper .content table {
    width: 100%;
    text-align: center;
    color: #222;
    font-size: 12px;
    border-collapse: collapse;
}

.chaqz-wrapper table .info {
    white-space: nowrap;

}

.chaqz-wrapper table .info img {
    width: 36px;
    height: 36px;
    margin-right: 5px;
    vertical-align: middle;

}

.chaqz-wrapper table .info span {
    color: #222;
    vertical-align: middle;
    max-width: 180px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chaqz-wrapper table .info1 span {
    color: #222;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chaqz-wrapper table thead tr th {
    padding-left: 0;
    padding-right: 0;
}

.chaqz-wrapper table thead tr:first-child {
    color: #888888;
    background: #F7F7F7;
}

.chaqz-wrapper table tbody tr:nth-child(2n) {
    background: #F7F7F7;
}

.chaqz-wrapper table td .btn {
    width: 59px;
    height: 20px;
    border: 1px solid rgba(75, 146, 236, 1);
    border-radius: 2px;
    font-size: 12px;
    color: #4B92EC;
    text-align: center;
}

.chaqz-wrapper table tbody tr .btn.red {
    border-color: #F64C3E;
    color: #F64C3E;
}

.chaqz-wrapper table td:first-child {
    text-align: left;
    padding-left: 15px;
}

.chaqz-wrapper .chaqz-close {
    position: absolute;
    right: 0;
    top: -66px;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 33px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

}

/* 权重解析 */
.chaqz-wrapper.weight-pop .content {
    width: 817px;
    height: 510px;
}

.chaqz-wrapper.weight-pop .cha-box {
    padding-bottom: 0;
}

.chaqz-wrapper.weight-pop #chaqzx-echarts-wrap {
    height: 300px;
}

.chaqz-wrapper .weight-parsing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0;
}

.chaqz-wrapper .parsing-title {
    margin: 30px;
    font-size: 16px;
    line-height: 16px;
}

.chaqz-wrapper .weight-parsing .right {
    -ms-flex: 1 1 44%;
    flex: 1 1 44%;
    padding: 0 30px;
}

.chaqz-wrapper .weight-parsing .left {
    border-right: 1px solid #e5e5e5;
    padding: 0 30px;
    -ms-flex: 1 1 56%;
    flex: 1 1 56%;
}

.chaqz-wrapper .weight-parsing .left img {
    width: 68px;
    margin-right: 20px;
}

.chaqz-wrapper .weight-parsing .left .name {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chaqz-wrapper .weight-parsing .left .name .price {
    font-size: 14px;
    color: #888;
}

.chaqz-wrapper .weight-parsing .left .head-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.chaqz-wrapper .weight-parsing .right .scores {
    padding: 20px 0;
    text-align: center;
    background: -webkit-linear-gradient(to right, #FC5F3A, #EBC360);
    background: -o-linear-gradient(to right, #FC5F3A, #EBC360);
    background: -moz-linear-gradient(to right, #FC5F3A, #EBC360);
    background: linear-gradient(to right, #FC5F3A, #EBC360);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
}

.chaqz-wrapper .weight-parsing .right .sorce-head {
    font-size: 14px;
    line-height: 14px;
}

.chaqz-wrapper .weight-parsing .right .dScore {
    font-size: 48px;
    line-height: 36px;
    margin-top: 14px;
}

.chaqz-wrapper .weight-parsing .right .moreShop {
    margin-top: 20px;
    color: #932B00;
    font-size: 14px;
    line-height: 14px;
}

.chaqz-wrapper .weight-parsing .right .propos-title {
    font-size: 16px;
    line-height: 16px;
    padding-left: 10px;
    border-left: 3px solid #EB6F3C;
}

.chaqz-wrapper .weight-parsing .prompt-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    border-bottom: 1px dashed #E5E5E5;
}

.chaqz-wrapper .weight-parsing .prompt-list li:last-child {
    border-bottom: 0;
}

.chaqz-wrapper .weight-parsing .prompt-list span {
    line-height: 32px;
    color: #666666;
    font-size: 14px;
}

.chaqz-wrapper .weight-parsing .prompt-list button {
    width: 104px;
    height: 32px;
    border: 1px solid rgba(235, 111, 60, 1);
    border-radius: 5px;
    color: #EB6F3C;
    font-size: 14px;
    background: #fff;
}

.chaqz-wrapper .weight-parsing .prompt-list button:hover {
    border: 0;
    color: #fff;
    background: #EB6F3C;
}


.chaqz-btns {
    padding-left: 105px;
    background: url("https://img.chaquanzhong.com/cqz.png") no-repeat 0 center;
}
/* market 行业排行 */
.mc-industryCustomer #completeShopPurchase .chaqz-btns {
    float: none;
    display: inline-block;
}

.chaqz-btns .serachBtn {
    width: 81px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    background: #EB6F3C;
    color: #fff;
    margin-right: 10px;
    border-radius: 3px;
}

.chaqz-btns .serachBtn.user {
    color: #356CE7;
    border: 1px solid #366CE7;
    background: #fff;
}

/* .chaqz-btns .serachBtn.vesting {
    background: #EB6F3C;
} */

.chaqz-btns.btnsItem1 {
    float: right;
}

.chaqz-btns.btns-left {
    float: left;
}

.chaqz-btns.trend {
    margin-right: 50px;
    margin-top: -21px;
}

.chaqz-tips {
    position: fixed;
    z-index: 9999;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
}

.chaqz-wrapper .chaqz-top-tabs {
    position: absolute;
    top: -40px;
}

.chaqz-wrapper .chaqz-top-tabs .switchBtn {
    width: 120px;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    background: #fff;
    margin-right: 5px;
    background: #4B92EC;
    color: #fff;
    font-size: 16px;
}
.chaqz-wrapper .chaqz-top-tabs .switchStruct,.chaqz-wrapper .chaqz-top-tabs .switchCity {
    width: auto;
    min-width: 80px;
    padding: 5px;
}
.chaqz-wrapper .chaqz-top-tabs .tabs-show {
    margin: 10px;
    font-size: 14px;
}
.chaqz-wrapper .chaqz-top-tabs .clickHit {
    margin-right: 20px;
}

.chaqz-wrapper .chaqz-top-tabs .switchBtn.active {
    background: #fff;
    color: #4B92EC;
}

/* 提示框 */
.chaqz-info-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10000000;

}

.chaqz-info-wrapper .c-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.chaqz-info-wrapper .c-cont .close {
    float: right;
    color: #999999;
    font-size: 30px;
    line-height: 15px;
    cursor: pointer;
}

.chaqz-info-wrapper .c-cont .close2 {
    position: absolute;
    right: 0;
    top: -63px;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 35px;
    line-height: 28px;
    cursor: pointer;
}

.chaqz-info-wrapper .c-cont .alert {
    /* padding:25px; */
    text-align: center;
}

.chaqz-info-wrapper .c-cont .tips {
    margin-bottom: 60px;
    color: #555555;
    font-size: 16px;
    line-height: 22px;
    margin-top: 80px;
}

.chaqz-info-wrapper .c-cont .analy-goods .anayEditor {
    width: 100%;
    margin-left: 0;
}

.chaqz-info-wrapper .c-cont .cha-btns {
    margin-bottom: 20px;
}

.chaqz-info-wrapper .c-cont .cha-btns .btn {
    width: 100px;
    height: 46px;
    border: 1px solid rgba(229, 229, 229, 1);
    font-size: 16px;
    background: #FFA200;
    color: #fff;
    border: 0;
    border-radius: 3px;
}

.chaqz-info-wrapper .c-cont .cha-btns .analyBtn:not(:last-child) {
    margin-right: 10px;
}

.chaqz-info-wrapper .c-cont .cha-btns .mr_30 {
    margin-right: 30px;
}

.chaqz-info-wrapper .c-cont .cha-btns .cancel {
    background: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    color: #222;
}

.chaqz-info-wrapper .c-cont .bot-tips {
    font-size: 12px;
    color: #999;
    margin-top: -10px;
}
/* echarts */
#chaqzx-echarts-wrap {
    width: 100%;
    height: 400px;
}

.chaqz-wrapper .heade {
    width: 250px;
    margin: 20px 0 0 50px;
    border: 1px solid #f0f0f0;
    padding: 20px 0 20px 20px
}

.chaqz-wrapper .heade img {
    width: 36px;
    margin-right: 10px;
}

.chaqz-wrapper.echart .content {
    height: 85%;
}

.chaqz-wrapper .heade span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 170px;
    display: inline-block;
}

/* mask */
.chaqz-wrapper .chaqz-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 10000000;
}

.chaqz-wrapper .chaqz-mask .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4B92EC;
    /* background: #0080ff; */
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

/* taobao 交易明细 */
.tbtrade-btn {
    width: 92px;
    height: 28px;
    background: rgba(255, 101, 39, 1);
    border-radius: 3px;
    outline: none;
    border: 0;
    color: #fff;
}
.tbtrade .c-cont {
    width: 1200px;
    padding: 16px 30px;
    font-size: 14px;
    color: #222;
}

.tbtrade .c-cont .trade-table,
.tbtrade .c-cont .report-table {
    width: 100%;
    table-layout: fixed;
}

.tbtrade .c-cont .trade-table td {
    height: 45px;
}

.tbtrade .c-cont .trade-table td .label {
    display: inline-block;
    width: 108px;
}

.tbtrade .c-cont .trade-table img {
    margin-left: 8px;
    vertical-align: middle;
}
.tbtrade .c-cont .trade-table .no-margin {
    margin-left: 0;
}

.tbtrade .c-cont .trade-table .hot {
    color: #FF4C3E;
}

.tbtrade .c-cont .trade-table .blue {
    color: #3A7D21;
}

.tbtrade .c-cont .customer-label {
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 1px solid #E5E5E5;
}

.tbtrade .c-cont .customer-label .customr {
    display: inline-block;
    width: 70px;
    height: 26px;
    line-height: 24px;
    border: 1px solid rgba(75, 146, 236, 1);
    border-radius: 5px;
    text-align: center;
    color: #4B92EC;
    margin-right: 10px;
}

.tbtrade .c-cont .report-table {
    border: 1px solid #E5E5E5;
    margin-bottom: 14px;
    text-align: center;
}

.tbtrade .c-cont .report-table .thead {
    background: #4B92EC;
}

.tbtrade .c-cont .report-table td {
    color: #666;
    height: 43px;
}
.tbtrade .c-cont .report-table .thead td {
    color: #fff;
}

@keyframes load3 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    75% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

/* 登录窗口 */
.chaqz-info-wrapper.login {
    padding: 30px;
}

.chaqz-info-wrapper.login .c-cont {
    width: 360px;
    padding: 30px;
    box-sizing: border-box;
}

.chaqz-info-wrapper.login .login-btn {
    width: 300px;
    height: 48px;
    font-size: 18px;
}

.chaqz-info-wrapper.login input {
    padding-left: 11px;
    width: 300px;
    height: 40px;
    border: 1px solid #E5E5E5;
    outline: none;
}

.chaqz-info-wrapper.login .title {
    margin-bottom: 22px;
}

.chaqz-info-wrapper.login .phone {
    margin-bottom: 25px;
    position: relative;
}

.chaqz-info-wrapper.login .pwd {
    position: relative;
}

.chaqz-info-wrapper.login .router {
    margin: 31px 0;
}

.chaqz-info-wrapper.login .tips {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 12px;
    color: #F64C3E;
    margin: 0;
    display: none;
}

.chaqz-info-wrapper.login a {
    color: #888;
    font-size: 14px;
    text-decoration: none;
}

.chaqz-info-wrapper.login a.right {
    float: right;
}

.orange-default-btn {
    background: #FFB700;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 2px;
}

/* user info  */
.chaqz-info-wrapper.user .c-cont {
    width: 400px;
    padding: 0;
}

.chaqz-info-wrapper.user .help {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.chaqz-info-wrapper.user .help a {
    color: #888;
    font-size: 14px;
}

.chaqz-info-wrapper.user .help img {
    margin-right: 6px;
}

.chaqz-info-wrapper.user .infoList {
    padding: 30px;
    padding-top: 0;
    list-style: none;
}

.chaqz-info-wrapper.user .infoList .title {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 40px;
}

.chaqz-info-wrapper.user .user-list {
    padding: 0;
}

.chaqz-info-wrapper.user .user-list li {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    border: 1px solid #E5E5E5;
    border-bottom: 0;
    list-style: none;
    box-sizing: border-box;
}

.chaqz-info-wrapper.user .user-list .mr_10 {
    margin-right: 10px;
}

.chaqz-info-wrapper.user .user-list .name {
    margin-left: 16px;
    margin-right: 10px;
}

.chaqz-info-wrapper.user .user-list .fr {
    float: right;
    margin-right: 16px;
    color: #4B92EC;
    cursor: pointer;
}

.chaqz-info-wrapper.user .user-list li:last-of-type {
    border-bottom: 1px solid #E5E5E5
}

/* 微信弹窗 */
.chaqz-info-wrapper .head {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 18px;
    color: #888;
}

.chaqz-info-wrapper .foot {
    color: #888;
    margin-top: 20px;
}

/* small pop */
.small-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .75);
    transform: translate(-100px, -30px);
    z-index: 10000000000;
}

/* 激活 */
.chaqz-info-wrapper .alert .table-wrap {
    width: 100%;
    margin: 42px 4px 30px 4px;
    min-height: 160px;
}

.chaqz-info-wrapper .alert .foot-tips {
    margin-bottom: 9px;
    color: #888;
}

.chaqz-info-wrapper .alert table {
    width: 100%;
    border: 0;
    font-size: 14px;
}

.chaqz-info-wrapper .alert thead {
    background: #F5F5F5;
    color: #888;
}

.chaqz-info-wrapper .alert tbody {
    color: #555;
}

.chaqz-info-wrapper .alert td {
    border: 0;
    height: 40px;
}

.chaqz-info-wrapper .alert td .num {
    margin-left: 20px;
}

.chaqz-info-wrapper .alert td label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #DDDDDD;
}

.chaqz-info-wrapper .alert td label.chose {
    border: 0;
    background: #4F93FE url('https://file.cdn.chaquanzhong.com/checkhas.png') no-repeat center/contain;
}

/* 提权计划 */
.chaqz-info-wrapper .head-title {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

.chaqz-info-wrapper .form-list {
    margin-top: 48px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #555;
    /* text-align: left; */
}

.chaqz-info-wrapper .form-list .item {
    margin-bottom: 20px;
}

.chaqz-info-wrapper .form-list .selcet,
.chaqz-info-wrapper .analy-goods .selcet {
    width: 260px;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
    margin-left: 14px;
}

.chaqz-info-wrapper .form-list .ctPlan {
    text-align: left;
    padding-left: 75px;
    margin-top: 15px;
    color: #4B92EC;
    cursor: pointer;
}

/* 竞品解析 */
.chaqz-compete-wrap {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 203px;
    z-index: 9998;
    text-align: center;
    border: 1px solid #2158F6;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    transition: all 0.01s ease 0s;
}

.chaqz-compete-wrap .head {
    padding: 10px 0px;
    background: rgb(33, 88, 246);
    text-align: left;
    padding-left: 10px;
}
.chaqz-compete-wrap .head .avator {
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.chaqz-compete-wrap .head .left {
    display: inline-block;
    cursor: move;
    position: relative;
    user-select: none;
}

.chaqz-compete-wrap .head .left::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.chaqz-compete-wrap .content {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.chaqz-compete-wrap .content .item {
    flex: 1;
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #E5E5E5;
}

.chaqz-compete-wrap .content .item:nth-last-of-type(2n) {
    border-right: 1px solid #E5E5E5
}

.chaqz-compete-wrap .content .item .name {
    color: rgba(13, 74, 248, 1);
    line-height: 16px;
    font-size: 12px;
    margin: 8px 0 10px;
}

.chaqz-compete-wrap .bottom {
    font-size: 12px;
    padding-bottom: 16px;
    color: #999999;
}

.chaqz-compete-wrap .bottom a {
    display: inline-block;
    font-size: 12px;
    color: #999999;
    margin: 8px 0;
}

.analy-goods {
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #555;
    position: relative;
}

.analy-goods .good-tips {
    display: none;
    position: absolute;
    left: 0;
    bottom: -20px;
    color: red;
    font-size: 12px;
}

.analy-goods .good-tips.alert {
    display: block;
}
.chaqz-info-wrapper .c-cont .cross-tabs {
    margin: 20px 0;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
}

.chaqz-info-wrapper.pop .c-cont .cross-btn {
    width: 90px;
    height: 40px;
    display: inline-block;
    line-height: 38px;
    text-align: center;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.chaqz-info-wrapper.pop .c-cont .hasCross {
    border-bottom: 2px solid rgb(255, 162, 0);
}
.chaqz-info-wrapper .c-cont .hide-btn{
    display: none;
}
/* 市场--搜索分析 */
.root-word-entry {
    font-size: 24px;
    color: red;
    margin-top: 50px;
    text-align: center;
}

.op-mc-search-analyze-container .chaqz-btns.btnsItem1 {
    float: left;
}

#chaqz-table-trend .bstr {
    background: rgba(75, 146, 236, 0.5);
}
.chaqz-wrapper .rootword-table table tr th,
.chaqz-wrapper .rootword-table table tr td{
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
}
/* 市场分析 */
.op-mc-search-analyze-container .alife-one-design-sycm-indexes-trend-addition-middle .chaqz-btns{
    margin-left: 153px;
    position: relative;
    z-index: 1000;
}
/* loading */
.load-pop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000000000;
    /* display: none; */
}

.load-pop.progress {
    background: rgba(0, 0, 0, .5);
}

.load-pop.progress .spinner {
    width: 70px;
    height: 70px;
}

.load-pop.progress .load-text {
    text-align: center;
    font-size: 20px;
}

.spinner {
    width: 41px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container1>div,
.container2>div,
.container3>div {
    width: 10px;
    height: 10px;
    background-color: #2062E6;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    right: 0;
    bottom: 0;
}

.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {

    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* loaigng text */
#caseBlanche {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    /* padding-top: 10px; */
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    font-size: 20px;
}

#caseBlanche #load {
    color: #fff;
    /* font-family: calibri; */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#caseBlanche #load .text {
    display: inline-block;
}

#rond {
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: rond 2s infinite;
    -webkit-animation: rond 2s infinite;
    border: 2px solid #366CE7;
    border-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

@keyframes rond {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rond {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}